.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
    text-align: center;
  }
  
  .description {
    text-align: center;
    margin-top: 2rem;
  }
  
  .error-text {
    color: #e53e3e;
    font-weight: bold;
  }
  
  .success-text {
    color: #38a169;
    font-weight: bold;
  }